main.page 
  h1 Мега Привет!
  img(src="@img/gulp.png")
  p
    span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dicta, ab adipisci distinctio qui, error autem tempore debitis ipsa rem, repellendus harum dignissimos repellat eligendi quasi sapiente aspernatur. Repellendus, in!
  p
    img(src="@img/facebook.svg" width="100px")