main
  .container 
    h1 About Page
    .img 
      img(src="./img/gulp.png" alt="gulp")
    #text.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque pariatur voluptate, id
      quaerat ullam ut vero soluta debitis ipsa labore alias nostrum suscipit nisi! Voluptates sequi
      laudantium quos hic a.