- var pageTitle = 'About'

doctype html
html(lang="ru")
  include includes/head
  body
    include includes/header
    include includes/main_about
    include includes/footer
    include includes/scripts