@media #{$mediaQuery-xxs} {
  div,
  main,
  nav,
  section,
  article,
  header,
  footer,
  aside {
    display: block;
  }
}

@media #{$mediaQuery-xs} {
  div,
  main,
  nav,
  section,
  article,
  header,
  footer,
  aside {
    display: block;
  }
}

@media #{$mediaQuery-s} {
  div,
  main,
  nav,
  section,
  article,
  header,
  footer,
  aside {
    display: block;
  }
}

@media #{$mediaQuery-m} {
  div,
  main,
  nav,
  section,
  article,
  header,
  footer,
  aside {
    display: block;
  }
}

@media #{$mediaQuery-l} {
  div,
  main,
  nav,
  section,
  article,
  header,
  footer,
  aside {
    display: block;
  }
}

@media #{$mediaQuery-xl} {
  div,
  main,
  nav,
  section,
  article,
  header,
  footer,
  aside {
    display: block;
  }
}

@media #{$mediaQuery-xxl} {
  div,
  main,
  nav,
  section,
  article,
  header,
  footer,
  aside {
    display: block;
  }
}

@media #{$mediaQuery-xxxl} {
  div,
  main,
  nav,
  section,
  article,
  header,
  footer,
  aside {
    display: block;
  }
}
