@media #{$mq-xxs} {
    div,
    main,
    nav,
    section,
    article,
    header,
    footer,
    aside {
        display: none;
    }
}

@media #{$mq-xs} {
    div,
    main,
    nav,
    section,
    article,
    header,
    footer,
    aside {
        display: none;
    }
}

@media #{$mq-s} {
    div,
    main,
    nav,
    section,
    article,
    header,
    footer,
    aside {
        display: none;
    }
}

@media #{$mq-m} {
    div,
    main,
    nav,
    section,
    article,
    header,
    footer,
    aside {
        display: none;
    }
}

@media #{$mq-l} {
    div,
    main,
    nav,
    section,
    article,
    header,
    footer,
    aside {
        display: none;
    }
}

@media #{$mq-xl} {
    div,
    main,
    nav,
    section,
    article,
    header,
    footer,
    aside {
        display: none;
    }
}

@media #{$mq-xxl} {
    div,
    main,
    nav,
    section,
    article,
    header,
    footer,
    aside {
        display: none;
    }
}

@media #{$mq-xxxl} {
    div,
    main,
    nav,
    section,
    article,
    header,
    footer,
    aside {
        display: none;
    }
}
