// Breakpoints
$breakPoint-xxs: 320px;
$breakPoint-xs: 480px;
$breakPoint-s: 768px;
$breakPoint-m: 1024px;
$breakPoint-l: 1366px;
$breakPoint-xl: 1920px;
$breakPoint-xxl: 2560px;
$breakPoint-xxxl: 3840px;

// Media Queries
$mediaQuery-xxs: '(min-width: #{$breakPoint-xxs})';
$mediaQuery-xs: '(min-width: #{$breakPoint-xs})';
$mediaQuery-s: '(min-width: #{$breakPoint-s})';
$mediaQuery-m: '(min-width: #{$breakPoint-m})';
$mediaQuery-l: '(min-width: #{$breakPoint-l})';
$mediaQuery-xl: '(min-width: #{$breakPoint-xl})';
$mediaQuery-xxl: '(min-width: #{$breakPoint-xxl})';
$mediaQuery-xxxl: '(min-width: #{$breakPoint-xxxl})';
