body {
  background-color: #333333;
  padding: 10px;
  .container {
    margin: 0 auto;
    margin-top: 20px;
    width: 1024px;
  }
  h1,
  h2 {
    color: #efc050;
    text-align: center;
  }
  .img {
    margin: 0 auto;
    text-align: center;
  }
  #text {
    color: #ff6f61;
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
}
